:host {
  width: 100%;
  height: 100%;

  .wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: url("../../../assets/images/background-min.jpg")
    #00020266 left center / cover fixed;
    background-blend-mode: overlay;
  }

  main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }
}
