:host {
  width: 100%;
  margin: 1rem;

  .workout {
    position: relative;
    padding: 1rem;
    z-index: 0;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(161, 203, 200, 0.3);
      backdrop-filter: blur(0.4rem);
      z-index: -1;
      box-shadow: inset -0.2rem 0.5rem 1.5rem -0.5rem #ffffff4d,
        inset 0.5rem -0.3rem 1rem 0rem #00000033;
      border-radius: 0.5rem;
    }
  }
}
